<article id="property_services_1" class="list indented"  data-transition="slide" data-router="property_services">
    <h1 class="text">Compras</h1>

    <p class="text">
        Por favor, <br/>
        Ingrese Codigo Toston
    </p>
    <input type="text" placeholder="codigo">
    <input type="submit" value="Buscar" href="#property_services_2">
    <a href="#property_services_2">adsf</a>
</article>    
<article id="property_services_2" data-router="property_services_2" class="active">
        <div class="info_user">
            <img src="assets/images/carita.png">
            <div class="name_person">
                <span>
                     <p class="info_state">
                        Nombre del establecimiento
                    </p>

                </span>
            </div>
           
            <div class="clear"></div>
        </div>
        <form>
            <h2 class="input_size account_pay">
                <span class"account_pay">
                    000.00
                </span>
            </h2>
            <h2 class="input_size submit">
            <input type="submit" value="Pagar">
            </h2>
        </form>
</article>
<article id="user_confirmation" class="active">
	<h1 class="title">Por favor, <br> Confirme la transacion</h1>
	<div class="info_user">
	    <img src="assets/images/carita.png">
	    <div class="name_person">
	        <span>
	             <p class="info_state">
	                Nombre del establecimiento
	            </p>

	        </span>
	    </div>
	   
	    <div class="clear"></div>
	</div>
	<form id="confirmation">
	<h2 class="simple_text">
	    Usted desea abonar $60.00 a <br>
	    Fondo Social para la vivienda
	</h2>
	<span class="sub_category">
	    Prestamo Casa
	</span>
	
		<input type="text" placeholder="Contrasena" id="contra_confirm">

		<input type="submit" value="Confirmar" id="confirm_submit">
	</form>
</article>