<article id="property_services_1" class="list indented active"  data-transition="slide" data-router="property_services">
    <h1 class="text">Compras</h1>

    <p class="text">
        Por favor, <br/>
        Ingrese Codigo Toston
    </p>
    <input type="text" placeholder="codigo">
    <input type="submit" value="Buscar" href="#property_services_2">
    <a href="#property_services_2">adsf</a>
</article>
<article id="property_services_2" class="list indented" data-transition="slide" data-router="property_services_confirm">
    sdfj
</article>