<article id="congrat_transfer" class="active">
    <img src="assets/images/transaccion.png" class="image">
    <h2 class="total">
             Por $00.00
        </h2>
        <h2 class="label" id="time_actual">
            <script type="text/javascript">
                             
            </script>
        </h2>
        <label id="transaction">
            # de Transaccion
        </label>
        <label id="number_complete">
                        9843534895384
        </label>    
</article>